<div class="page-header-title">
	<h4 class="page-title">Atendimento - Entrada</h4>
	<p>Chamado Call Center</p>
</div>
<div class="content-sized">

<form>
<div class="row">
<div class="col-sm-9"><h3>Entrada de Chamado | id 0000000000 <br><span><strong>Fulano de Tal - Wimax Internet</strong></span></h3></div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<label for="nome">Data de abertura</label>
		<input type="date" class="form-control" class="data" name="data">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		<label for="email">Operador</label>
		<input type="text" class="form-control" class="operador" name="operador">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<label for="senha">Última atualização</label>
		<p class="form-control-static">Nome do operador - 00:00:00 em 31/07/2017</p>		
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<label for="nome">Tempo para aceitar</label>
		<input type="date" class="form-control" class="tempo_aceitar" name="tempo_aceitar">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		<label for="email">Tempo para solução</label>
		<input type="text" class="form-control" class="tempo_solucao" name="tempo_solucao">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<label for="nome">Tempo interno para possuir</label>
		<input type="date" class="form-control" class="tempo_interno_possuir" name="tempo_interno_possuir">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		<label for="email">Tempo interno para solução</label>
		<input type="date" class="form-control" class="tempo_interno_solucao" name="tempo_interno_solucao">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<label for="nome">Data da solução</label>
		<input type="date" class="form-control" class="data" name="data">
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Tipo</label>
		  <select class="form-control" id="tipo">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Categoria</label>
		  <select class="form-control" id="categoria">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Status</label>
		  <select class="form-control" id="status">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Origem de Requisição</label>
		  <select class="form-control" id="origem">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Urgência</label>
		  <select class="form-control" id="urgencia">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Aprovação</label>
		  <select class="form-control" id="aprovacao">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Impacto</label>
		  <select class="form-control" id="impacto">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Localização</label>
		  <select class="form-control" id="localizacao">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Prioridades</label>
		  <select class="form-control" id="prioridade">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-6">
		<div class="form-group">
		  <label for="sel1">Elementos Associados</label>
		  <select class="form-control" id="elementos_associados">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
		  <label for="sel1">Ator</label>
		  <select class="form-control" id="ator">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-3">
		<div class="form-group">
		  <label for="sel1">Requerente</label>
		  <select class="form-control" id="requerente">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
		  <label for="sel1">Observador</label>
		  <select class="form-control" id="observador">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div> 
	</div>
	<div class="col-sm-3">
		<div class="form-group">
		  <label for="sel1">Atribuído para</label>
		  <select class="form-control" id="atribuido">
			<option>Selecione...</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
		  </select>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
		<label for="nome">Título</label>
		<input type="text" class="form-control"  name="protocolo_entidade"><br>
		<textarea class="form-control" rows="5" id="comment"></textarea>
	</div>
</div>
<input class="btn btn-default" value="Salvar" type="button" link="dashboard.html">

</form>
	
</div>