<div class="page-header-title">
  <h4 class="page-title">Documentação</h4>
  <p>Índice de arquivos de ajuda e manual do sistema</p>
</div>
<div class="content-sized">
<ul>
	<li>
		<a href="index.html" class="waves-effect"><i class="mdi mdi-home"></i><span> Índice <span class="badge badge-primary pull-right">1</span></span></a>
	</li>

	<li class="has_sub">
		<a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-opacity"></i> <span> Segurança </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
		<ul class="list-unstyled">
			<li><a class="regular-link" link="views/docs/seguranca/papeis.html">Papéis e Permissões</a></li>
		</ul>
	</li>
</ul>
</div>
<script>
NProgress.done();
</script>