	<div class="page-header-title">
		<h4 class="page-title">Driver</h4>
		<p>Conexões dos provedores disponíveis para acesso</p>
	</div>
	<div class="content-sized">
	
	<input class="btn btn-success btn_driver" value="Incluir" type="button" link="views/driver-crud.html">
		<table class="table table-hover">
    <thead>
      <tr>
        <th>Provedor</th>
        <th>Software</th>        
		<th>Status</th>
		<th>Ações</th>
      </tr>
    </thead>
		<tbody>
			<tr>
        <td>Wimax</td>
        <td>CNT</td>        		
				<td class="text-success">Conectado</td>
				<td>
					<input class="btn btn-secondary" value="Editar" type="button" link="view/front/driver-crud.html">
					<input class="btn btn-danger" value="Excluir" type="button" link="">	
					<input class="btn btn-success" value="Conectar" type="button" link="views/connect.php">
				</td>
      </tr>
			<tr>
        <td>Next</td>
        <td>Hubsoft</td>
				<td class="text-success">Conectado</td>
				<td>
					<input class="btn btn-secondary" value="Editar" type="button" link="view/front/driver-crud.html">
					<input class="btn btn-danger" value="Excluir" type="button" link="">	
					<input class="btn btn-success" value="Conectar" type="button" link="atendimento.html">
				</td>
      </tr>
			<tr>
        <td>Conecta Minas</td>
        <td>Hubsoft</td>
        <td class="text-success">Conectado</td>
				<td>
					<input class="btn btn-secondary" value="Editar" type="button" link="view/front/driver-crud.html">
					<input class="btn btn-danger" value="Excluir" type="button" link="">	
					<input class="btn btn-success" value="Conectar" type="button" link="atendimento.html">
				</td>
      </tr>
			<tr>
        <td>Isimples</td>
        <td>Hubsoft</td>
        <td class="text-success">Conectado</td>
				<td>
					<input class="btn btn-secondary" value="Editar" type="button" link="view/front/driver-crud.html">
					<input class="btn btn-danger" value="Excluir" type="button" link="">	
					<input class="btn btn-success" value="Conectar" type="button" link="atendimento.html">
				</td>
      </tr>
		</tbody>
		</table>
	</div>
