<div class="page-header-title">
	<h4 class="page-title">Permissões</h4>
	<p>Cadastro das permissões do sistema</p>
</div>
<div class="content-sized">

	<form>
		<div class="form-group">
			<label for="nome">Nome da permissão</label>
			<input type="text" class="form-control" class="nome" name="nome">
		</div>
		<div class="form-group">
			<label for="email">Controlador do sistema</label>
			<input type="text" class="form-control" class="email" name="email">
		</div>
		<div class="form-group">
			<label for="senha">Action do Controller</label>
			<input type="password" class="form-control" class="senha" name="senha">			
		</div>
		<div class="form-group">
			<label for="confsenha">Ambiente</label>
			<input type="password" class="form-control" class="confsenha" name="confsenha">
		</div>
		<input class="btn btn-default" value="Salvar" type="button" link="dashboard.html">
	</form>
	
</div>