<div class="page-header-title">
  <h4 class="page-title">Regras de Contratos</h4>
  <p>Gerenciador das regras de negócio dos contratos</p>
</div>
<div class="content-sized">
<div class="page-content-wrapper ">

	<div class="container">
		<div class="row">
		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/planos.php">			
			<div class="panel text-center panel-atendimento">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Planos</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="mdi mdi-account-circle text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Tipos de planos para produtos</p>
				</div>
			</div>
			</a>
		</div>
		
		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/produtos.php">
			<div class="panel text-center panel-atendimento">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Produtos</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="mdi mdi-cube-send text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Tipos de produtos para venda</p>
				</div>
			</div>
			</a>
		</div>		
		
		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/clientes.php">
			<div class="panel text-center panel-atendimento">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Clientes</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="mdi mdi-account-location text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Cadastro de clientes</p>
				</div>
			</div>
			</a>
		</div>
		
		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/contratos.php">
			<div class="panel text-center panel-atendimento">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Contratos</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="mdi mdi-file-document text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Regras de atendimento</p>
				</div>
			</div>
			</a>
		</div>
		<!--<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/_manut.php">
			<div class="panel text-center">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Deliberar</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="ion-scissors text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Conceder/Negar permissões</p>
				</div>
			</div>
			</a>
		</div>-->
	  </div>
	  
	</div>
	</div>
	
	<!--Segunda linha-->
	
	<!--<div class="container">

	  <div class="row">
		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/menus.php">
			<div class="panel text-center">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Menus</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="mdi mdi-library text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Submenus para módulos</p>
				</div>
			</div>
			</a>
		</div>

		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/atendentes.php">
			<div class="panel text-center">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Atendentes</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="mdi mdi-phone-in-talk text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Acesso aos níveis 1 e 2</p>
				</div>
			</div>
			</a>
		</div>

		 <div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/permissoes.php">
			<div class="panel text-center">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Permissões</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="ion-unlocked text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Ações que cada papel possui</p>
				</div>
			</div>
			</a>
		</div>

		<div class="col-sm-6 col-lg-3">
			<a class="regular-link" link="views/deliberar.php">
			<div class="panel text-center">
				<div class="panel-heading">
					<h4 class="panel-title text-muted font-light">Deliberar</h4>
				</div>
				<div class="panel-body p-t-10">
					<h2 class="m-t-0 m-b-15"><i class="ion-scissors text-danger m-r-10"></i></h2>
					<p class="text-muted m-b-0 m-t-20">Conceder/Negar permissões</p>
				</div>
			</div>
			</a>
		</div> 
	  </div>
	  
	</div>-->
	</div>	
</div>
</div>