<div class="page-header-title">
  <h4 class="page-title">Usuários</h4>
  <p>Gerenciador de usuários do sistema</p>
</div>
<div class="content-sized">
	<input class="btn btn-success btn_driver" value="Incluir" type="button" link="views/usuarios-crud.html">
		<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>        
		<th>e-mail</th>
		<th>Ações</th>
      </tr>
    </thead>
	 <tbody>
	  <tr>
        <td>1</td>
        <td>Fulano de Oliveira</td>        		
		<td class="text-success">fulano@email.com</td>
		<td>
			<input class="btn btn-secondary" value="Editar" type="button" link="view/front/usuarios-crud.html">
			<input class="btn btn-danger" value="Excluir" type="button" link="">
		</td>
      </tr>
			<tr>
        <td>2</td>
        <td>Ciclano de Faria</td>        		
		<td class="text-success">ciclano@email.com</td>
		<td>
			<input class="btn btn-secondary" value="Editar" type="button" link="view/front/usuarios-crud.html">
			<input class="btn btn-danger" value="Excluir" type="button" link="">
		</td>
      </tr>
	 </tbody>
	</table>
</div>