<main>
<section class="container-fluid">
	<nav class="nav_dashboard">
		<h1>Driver de Conexão</h1>
		<p class="text-primary">Provedores</p>
	</nav>
	<section class="container-fluid nav_dashboard">
	<form>
		<div class="form-group">
			<label for="nome">Nome do Provedor</label>
			<input type="text" class="form-control" class="nome" name="nome">
		</div>
		<div class="form-group">
			<label for="host">Host</label>
			<input type="text" class="form-control" class="host" name="host">			
		</div>
		<div class="form-group">
			<label for="porta">Porta</label>
			<input type="text" class="form-control" class="porta" name="porta">
		</div>
		<div class="form-group">
			<label for="usuario">Usuário</label>
			<input type="text" class="form-control" class="usuario" name="usuario">
		</div>
		<div class="form-group">
			<label for="senha">Senha</label>
			<input type="text" class="form-control" class="senha" name="senha">
		</div>
		<input class="btn btn-default" value="Salvar" type="button" link="dashboard.html">
	</form>
	</section>
</section>
</main>